__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.root
*condorJobs*
*logs*
*.fuse
*output*
*.pdf
*plots*
*documentation*
*cutFlowTables*
*systematicsTables*
*impacts*
*temp*
*testDir*
*weights*
*warehouse*
*transferFiles*
